/* Kaya board theme */

.besogo-svg-board {
    fill: none;
}
.besogo-board {
    background: url("../img/shinkaya4.jpg");
    background-size: cover;
}

.besogo-svg-lines {
    stroke: #151515;
    stroke-width: 3.5;
    fill: none;
}

.besogo-svg-hoshi {
    stroke: #151515;
    stroke-width: 14;
}

.besogo-svg-blackStone {
    fill: #252525;
    stroke: #252525;
    stroke-width: 4;
}

.besogo-svg-whiteStone {
    fill: #f5f5f5;
    stroke: #f5f5f5;
    stroke-width: 4;
}

.besogo-svg-greyStone {
    fill: #929591;
    stroke: #929591;
    stroke-width: 4;
}
