/* Glift mimic board theme */

.besogo-svg-board {
    fill: #f5be7e;
}

.besogo-svg-lines {
    stroke: black;
    stroke-width: 2;
    fill: none;
}

.besogo-svg-hoshi {
    stroke: black;
    stroke-width: 24;
}

.besogo-svg-blackStone {
    fill: black;
    stroke: black;
    stroke-width: 4;
}

.besogo-svg-whiteStone {
    fill: white;
    stroke: black;
    stroke-width: 4;
}

.besogo-svg-greyStone {
    fill: #929591;
    stroke: #929591;
    stroke-width: 4;
}
