/* Bold board theme */

.besogo-svg-board {
    fill: #dcb771;
}

.besogo-svg-lines {
    stroke: #000000;
    stroke-width: 4.5;
    fill: none;
}

.besogo-svg-hoshi {
    stroke: #000000;
    stroke-width: 18;
}

.besogo-svg-blackStone {
    fill: #000000;
    stroke: #000000;
    stroke-width: 5;
}

.besogo-svg-whiteStone {
    fill: #ffffff;
    stroke: #000000;
    stroke-width: 5;
}

.besogo-svg-greyStone {
    fill: #808080;
    stroke: #808080;
    stroke-width: 5;
}
