/* EidoGo mimic board theme */

.besogo-svg-board {
    fill: #ddbc6b;
}

.besogo-svg-lines {
    stroke: #ae9454;
    stroke-width: 4;
    fill: none;
}

.besogo-svg-hoshi {
    stroke: #705f36;
    stroke-width: 14;
}

.besogo-svg-blackStone {
    fill: #292929;
    stroke: black;
    stroke-width: 4;
}

.besogo-svg-whiteStone {
    fill: #f2f2f2;
    stroke: #838383;
    stroke-width: 4;
}

.besogo-svg-greyStone {
    fill: #929591;
    stroke: #929591;
    stroke-width: 4;
}
