/* Flat board theme */

.besogo-svg-board {
    fill: #dcb771;
}

.besogo-svg-lines {
    stroke: #000000;
    stroke-width: 1.5;
    fill: none;
}

.besogo-svg-hoshi {
    stroke: #000000;
    stroke-width: 12;
}

.besogo-svg-blackStone {
    fill: #000000;
    stroke: #000000;
    stroke-width: 2;
}

.besogo-svg-whiteStone {
    fill: #ffffff;
    stroke: #ffffff;
    stroke-width: 2;
}

.besogo-svg-greyStone {
    fill: #808080;
    stroke: #808080;
    stroke-width: 2;
}
