/* Overriding standard GUI theme */

.besogo-container {
    color: #dddddd;
    background: #202020;
}

.besogo-blackInfo {
    color: #dddddd;
}

.besogo-whiteInfo {
    background: #dddddd;
}

.besogo-container button {
    background: #373737;
    border-color: #808080 #000000 #000000 #808080;
}

.besogo-container button:hover {
    background: #4d4d4d;
}

.besogo-container input {
    color: #dddddd;
    background: #202020;
}

.besogo-container input[type='button'] {
    background: #373737;
    color: #dddddd;
    border-color: #808080 #000000 #000000 #808080;
}

.besogo-container input[type='button']:hover {
    background: #4d4d4d;
}

.besogo-comment textarea {
    color: #dddddd;
    background: #202020;
}

.besogo-gameInfo td, tr {
    border: 1px solid #dddddd;
}
