/* Standard Board theme */

.besogo-svg-board {
    fill: #e0bb6c; /* Board color*/
}

.besogo-svg-lines {
    stroke: #343837;
    stroke-width: 4;
    fill: none;
}

.besogo-svg-hoshi {
    stroke: #343837;
    stroke-width: 16;
}

.besogo-svg-blackStone {
    fill: black;
    stroke: black;
    stroke-width: 4;
}

.besogo-svg-whiteStone {
    fill: white;
    stroke: black;
    stroke-width: 4;
}

.besogo-svg-greyStone {
    fill: #929591;
    stroke: #929591;
    stroke-width: 4;
}
