/* Standard Board theme */

.besogo-svg-board {
    fill: white; /* Board color*/
}

.besogo-svg-lines {
    stroke: black;
    stroke-width: 4;
    fill: none;
}

.besogo-svg-hoshi {
    stroke: black;
    stroke-width: 16;
}

.besogo-svg-blackStone {
    fill: black;
    stroke: white;
    r: 44;
    stroke-width: 0;
}

.besogo-svg-whiteStone {
    fill: white;
    stroke: black;
    r: 42;
    stroke-width: 4;
}

.besogo-svg-greyStone {
    fill: #929591;
    stroke: black;
    r: 44;
    stroke-width: 0;
}
